.sidebar_area{
    text-align: center;
    height: 800px;
    background-color: cornsilk;
}

.navbar_area{
    /* color:red; */
}
.main_content_area{
    padding: 20px 32px;
}
.main_content_area
{

}
